KRAKEN_API_KEY=<<jouw echte API key>>
KRAKEN_API_SECRET=<<jouw echte API secret>>
EXCHANGE=krakenfutures
FAST_EMA=2
TIMEFRAME=5m
SLOW_EMA=50
REQUIRE_EMA200=true
BASE_SIZE_USD=25
TP_PCT=1.5
SL_PCT=0.5
TRAIL_PCT=0.3
DRY_RUN=false
LEVERAGE=10
CANDLES_LIMIT=500
PAIRS=BTC/USD,ETH/USD,XRP/USD,SOL/USD,LINK/USD,ADA/USD,DOGE/USD,SUI/USD,FIL/USD
